@use "colors";

.Button {
  all: unset;
  padding: 6px 16px;
  border-radius: 30px;
  font-weight: 500;
  background: colors.$purple;
  color: white;
  box-shadow: 0 0.125rem 0.625rem rgb(84 92 216 / 40%),
    0 0.0625rem 0.125rem rgb(84 92 216 / 50%);

  &:hover {
    cursor: pointer;
    background: colors.$darkPurple;
    transition: background 0.5s;
  }

  &:disabled {
    background: gray;
  }
}
