.comment {
  display: flex;
  gap: 12px;
}

.comment_post {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.comment__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.post__header {
  display: flex;
  gap: 12px;
}

.post__actions {
  display: flex;
  gap: 12px;
}
