@use "colors";

.LiveClass {
  background: #eceff1;
}

.content {
  display: flex;
  padding: 16px;
  gap: 16px;
}

.videoStream {
  width: 50%;
}

.liveChat {
  width: 50%;
}

.video {
  width: 100%;
  border-radius: 12px;
}

.title {
  font-size: 22px;
  border-bottom: 2px solid rgb(245, 245, 245);
  font-weight: 600;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.subtitle {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: colors.$darkGray;
}

.subtitle__name {
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  padding-right: 24px;
}

.subtitle__number {
  padding-left: 24px;
  align-items: center;
  display: flex;
  gap: 8px;
}

.videoStream__content {
  display: flex;
  padding: 12px;
  flex-direction: column;
  gap: 12px;
}

.videoStream__footer {
  display: flex;
  justify-content: space-between;
}

.students {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.students__title {
  font-weight: 600;
}

.students__list {
  display: flex;
  gap: 4px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 12px;
}

.video__wrapper {
  position: relative;
}

.video__live {
  display: flex;
  gap: 12px;
  align-items: center;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  padding: 12px 24px;
  width: fit-content;
  position: absolute;
  left: 24px;
  top: 24px;
}
