.Profile {
  background: #eceff1;
}

.content {
  display: flex;
  gap: 12px;
  padding: 12px;
}

.leftSection {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.id {
  display: flex;
  padding: 12px;
  gap: 12px;
  align-items: center;
}

.id__avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.id__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 12px;
}

.id__text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.id__buttons {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.highlights {
  padding: 12px;
}

.id__name {
  color: #545cd8;
  font-weight: 600;
  font-size: 18px;
}

.rightSection {
  width: 100%;
  padding: 12px;
}

.tabs {
  display: flex;
  gap: 24px;
  align-items: flex-end;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.tabLabel {
  display: flex;
  padding: 0 20px 8px 20px;
  align-items: flex-end;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }
}

.tabContent {
  padding: 16px;
}

.activeLink {
  color: #545cd8;
  font-weight: 500;
  box-shadow: inset 0px -3px 0px #545cd8;
}
