.StudentCard {
  width: 500px;
  height: 300px;
  display: flex;
  padding: 24px;
}

.summary {
  display: flex;
  gap: 12px;
  align-items: center;
}

.photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
