.content {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
}

.icon {
  color: #59a7ff;
}

.content_box {
  background: white;
  border-radius: 4px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.content_box__title {
  font-size: 22px;
  border-bottom: 2px solid rgb(245, 245, 245);
  padding: 16px;
}

.content_box__text {
  padding: 16px;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  background: white;
  width: 600px;
  height: auto;
  transform: translate(-50%, -50%);
}
